.link_list {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease;
}

.link_list li {
  display: inline-block;
  margin-right: 1rem;
}

.toggle_btn {
  display: none;
  position: absolute;
  right: 1rem;
  top: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.toggle_btn li {
  width: 2.5rem;
  border: 2px solid #888;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.toggle_btn li:first-of-type {
  transform: translate(-50%, -50%) rotate(45deg);
}

@media screen and (max-width: 767px) {
  .main_nav {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: 1rem;
    opacity: 0;
    transition: 0.3s transform ease, 0.3s opacity ease;
  }
  .link_list li {
    display: block;
    margin: 0 0 2rem 0;
  }
  .link_list li a {
    font-size: 1.25rem;
  }
  .show_menu {
    transform: translateX(0%);
    opacity: 1;
  }
  .toggle_btn {
    display: inline-block;
  }
}
